p > code, li > code {
    padding: 0.1em 0.2em;
    color: #558;
    background-color: rgba(0,0,120,0.04);
    border: 1px solid rgba(0,0,120,0.08);
}

pre > code {
    padding: 12px;
    background-color: #f4f4f8;
    border-left: 4px solid #ccd;
    margin: 1em 0 2em 1em;
}
code.source-code {
    line-height: 1.5;
}